# Created by http://www.gitignore.io

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.class
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

# Project-specific
**/db
**/db/
**/db/*
**/db/**
**/target
**/target/
**/target/*
**/target/**
tl_client/target/*
tl_client/target/**
tl_dataGenerator/target/*
tl_dataGenerator/target/**
tl_db/target/*
tl_db/target/**
tl_dto/target/*
tl_dto/target/**
tl_server/target/*
tl_server/target/**

